<% layout("/layout/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
        <h3>Edit the listing</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="Title" class="form-label">Title</label>
            <input name="listing[title]" type="text" class="form-control" value="<%= listing.title %>" required>
            <div class="invalid-feedback">Title can't be empty</div>
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Enter a short description</div>
        </div>
        <div class="mb-3">
            Original Listing Image <br>
            <img src="<%= originalImageUrl %>" alt="">
        </div>
        <div class="mb-3">
            <label for="Image" class="form-label">Uplaod new Image</label>
            <input name="listing[image]" class="form-control" type="file">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="Price" class="form-label">Price</label>
                <input name="listing[price]" type="number" class="form-control" required value="<%= listing.price %>">
                <div class="invalid-feedback">Please Enter a Valid Price</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="Location" class="form-label">Location</label>
                <input name="listing[location]" class="form-control" required value="<%= listing.location %>" type="text">
                <div class="invalid-feedback">Enter a valid location</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="Country" class="form-label">Country</label>
            <input type="text" name="listing[country]" class="form-control" required value="<%= listing.country %>">
            <div class="invalid-feedback">Enter a valid country</div>
        </div>
        <button class="btn edit-btn mb-2">Edit</button>
    </form>     
</div>   
</div>
</body>
